* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    z-index: 0;
    font-family: sans-serif;
    background-color: #484444;
    color: white;

}


main .container-fluid{
    /* flex: 1; */
    min-height: 200px;
}

.changecolor{
    background-color: #a4a2a2;
}

.sumbutt{
    background-color: #a4a2a2;
    color: white;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    
    
}